**Mount GDrive with Colab**

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

---

**Change Working Directory**

In [2]:
%cd /content/gdrive/MyDrive/Github

/content/gdrive/MyDrive/Github

---

**Initialze new Git repo (don't run again)**

In [3]:
!git init student-prediction-outcome-for-mejaku-app

Initialized empty Git repository in /content/gdrive/MyDrive/Github/student-prediction-outcome-for-mejaku-app/.git/

In [4]:
%cd student-prediction-outcome-for-mejaku-app/

/content/gdrive/My Drive/Github/student-prediction-outcome-for-mejaku-app

**Read Dataset**

In [4]:
import pandas as pd

filename = 'data/Student Engagement Level-Binary.csv'
df1 = pd.read_csv(filename, header=None)

df1

                0   ...                13
0       Student ID  ...  Engagement Level
1    student000000  ...                 H
2    student000001  ...                 L
3    student000002  ...                 L
4    student000003  ...                 L
..             ...  ...               ...
482  student000481  ...                 H
483  student000482  ...                 H
484  student000483  ...                 L
485  student000484  ...                 H
486  student000485  ...                 L

[487 rows x 14 columns]

In [5]:
filename = 'data/Student Performance Prediction-Binary.csv'
df2 = pd.read_csv(filename, header=None)

df2

                 0            1  ...            8      9
0       Student ID  Quiz01 [10]  ...  Total [100]  Class
1    student000000           95  ...           85      G
2    student000001           85  ...           76      G
3    student000002           85  ...           73      G
4    student000003           80  ...           79      G
..             ...          ...  ...          ...    ...
482  student000481           90  ...           92      G
483  student000482           80  ...           90      G
484  student000483           80  ...           96      G
485  student000484           75  ...           78      G
486  student000485           85  ...           88      G

[487 rows x 10 columns]

**Cleaning Up Column Names**

In [36]:
df1.columns = [
  'Student Id',
  'Logins',
  'Content Reads',
  'Forum Reads',
  'Forum Posts',
  'Quiz Reviews before submission',
  'Assignment 1 lateness indicator',
  'Assignment 2 lateness indicator',
  'Assignment 3 lateness indicator',
  'Assignment 1 duration to submit (in hours)',
  'Assignment 2 duration to submit (in hours)',
  'Assignment 3 duration to submit (in hours)',
  'Average time to submit assignment (in hours)',
  'Engagement Level'
]

df1 = df1.drop([0])
df1

        Student Id  ... Engagement Level
1    student000000  ...                H
2    student000001  ...                L
3    student000002  ...                L
4    student000003  ...                L
5    student000004  ...                L
..             ...  ...              ...
482  student000481  ...                H
483  student000482  ...                H
484  student000483  ...                L
485  student000484  ...                H
486  student000485  ...                L

[486 rows x 14 columns]

In [37]:
df2.columns = [
  'Student Id',
  'Quiz01 [10]',
  'Assignment01 [8]',
  'Midterm Exam [20]',
  'Assignment02 [12]',
  'Assignment03 [25]',
  'Final Exam [35]',
  'Course Grade',
  'Total [100]',
  'Class'
]

df2 = df2.drop([0])
df2

        Student Id Quiz01 [10] Assignment01 [8]  ... Course Grade Total [100] Class
1    student000000          95               91  ...           85          85     G
2    student000001          85               76  ...           76          76     G
3    student000002          85               41  ...           73          73     G
4    student000003          80               78  ...           80          79     G
5    student000004          85               91  ...           85          85     G
..             ...         ...              ...  ...          ...         ...   ...
482  student000481          90               85  ...           92          92     G
483  student000482          80               68  ...           90          90     G
484  student000483          80               86  ...           96          96     G
485  student000484          75               68  ...           78          78     G
486  student000485          85               81  ...           88          88     G

[486 rows x 10 columns]

> There are 2 possiblilities.

> 1. **Classification problem**: merge all tables apart from Assessment Results and use the final result column from Student Information table as target.

>2. **Regression problem**: merge all tables, deleting the final result column from Student Information and using scores as target.

In [38]:
df = pd.merge(df1, df2)
df

        Student Id Logins Content Reads  ... Course Grade Total [100] Class
0    student000000    143           344  ...           85          85     G
1    student000001     70           342  ...           76          76     G
2    student000002     42           219  ...           73          73     G
3    student000003     92           271  ...           80          79     G
4    student000004    116           379  ...           85          85     G
..             ...    ...           ...  ...          ...         ...   ...
481  student000481     98           281  ...           92          92     G
482  student000482     85           258  ...           90          90     G
483  student000483     99           206  ...           96          96     G
484  student000484     51           158  ...           78          78     G
485  student000485     89           289  ...           88          88     G

[486 rows x 23 columns]

---

**EDA**

In [41]:
df.describe(include='all')

           Student Id Logins Content Reads  ... Course Grade Total [100] Class
count             486    486           486  ...          486         486   486
unique            486    130           261  ...           55          56     2
top     student000199     62           342  ...           86          87     G
freq                1     13             6  ...           30          30   465

[4 rows x 23 columns]

No missing value. Let's drop un-used column.

In [42]:
df = df.drop(['Student Id'], axis=1)
df

    Logins Content Reads Forum Reads  ... Course Grade Total [100] Class
0      143           344          58  ...           85          85     G
1       70           342           0  ...           76          76     G
2       42           219           0  ...           73          73     G
3       92           271           2  ...           80          79     G
4      116           379           0  ...           85          85     G
..     ...           ...         ...  ...          ...         ...   ...
481     98           281           0  ...           92          92     G
482     85           258           1  ...           90          90     G
483     99           206           0  ...           96          96     G
484     51           158           0  ...           78          78     G
485     89           289           0  ...           88          88     G

[486 rows x 22 columns]

In [145]:
FEATURES = df.columns.values[0:12]
TARGET = df.columns.values[14]

#FEATURES = np.delete(FEATURES, 4)

FEATURES, TARGET

(array(['Logins', 'Content Reads', 'Forum Reads', 'Forum Posts',
        'Quiz Reviews before submission',
        'Assignment 1 lateness indicator',
        'Assignment 2 lateness indicator',
        'Assignment 3 lateness indicator',
        'Assignment 1 duration to submit (in hours)',
        'Assignment 2 duration to submit (in hours)',
        'Assignment 3 duration to submit (in hours)',
        'Average time to submit assignment (in hours)'], dtype=object),
 'Outcomes_Good')

---

**Build Model**

In [146]:
from sklearn.model_selection import train_test_split

X_train, X_validate, y_train, y_validate = train_test_split(
    df[FEATURES],
    df[TARGET],
    test_size=0.2,
    random_state=2,
    shuffle=True,
    stratify=df[TARGET]
    )

X_train.shape, X_validate.shape

((388, 12), (98, 12))

---

**Working with Git repo**

In [5]:
!git config --global user.email "angelkarentia@gmail.com"
!git config --global user.name "Angel Karentia"

In [8]:
!git status

On branch master

No commits yet

nothing to commit (create/copy files and use "git add" to track)

In [6]:
!git add .

In [7]:
!git status

On branch master
Your branch is ahead of 'origin/master' by 2 commits.
  (use "git push" to publish your local commits)

Changes to be committed:
  (use "git reset HEAD <file>..." to unstage)

	modified:   Predict Student Outcome Regression.ipynb

In [50]:
!git commit -m "Explore dataset"

[master 9bf06bc] Explore dataset
 5 files changed, 976 insertions(+), 1 deletion(-)
 create mode 100644 Copy of Predict Student Outcome Regression.ipynb
 delete mode 100644 Predict Student Outcome Binary.ipynb
 create mode 100644 Predict Student Outcome Regression.ipynb
 create mode 100644 data/Student Engagement Level-Binary.csv
 create mode 100644 data/Student Performance Prediction-Binary.csv

In [9]:
username = 'angellsongg'
git_token = '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'
repository = 'student-prediction-outcome-for-mejaku-app'

!git remote add origin https://{git_token}@github.com/{username}/{repository}.git
!git remote -v

fatal: remote origin already exists.
origin	https://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@github.com/angellsongg/mejaku.git (fetch)
origin	https://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@github.com/angellsongg/mejaku.git (push)

In [14]:
!git push -u origin master

fatal: could not read Password for 'https://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@github.com': No such device or address

In [8]:
!git log --oneline --graph

* 9bf06bc (HEAD -> master) Explore dataset
* f466ef4 Explore dataset binary-case
* 4edf907 (origin/master) Explore dataset binary-case
* 7db3a76 add dataset binary-case

In [111]:
!git revert HEAD

error: your local changes would be overwritten by revert.
hint: commit your changes or stash them to proceed.
fatal: revert failed